<html>
    <head>
        <title>Desafio 01</title>
    </head>
    <body>
        <form action="/check" method="POST">
            <input type="text" name="nome" />
            <input type="date" name="dataNasc" />
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
